<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>new analysis</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700;900&display=swap" rel="stylesheet"/>    
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/repository_css/style.css")}/>
  </head>

  <body>
    <section>
      <main>
        <div id="card">
          <div id="container">
                <form action="">
                  <div class="text">
                      <label for="name">User</label>
                      <input class="field" type="text" name="name">    
                  </div>
                  <div class="text">
                    <label for="provider">Provider</label>
                    <input class="field" type="text" name="provider">    
                  </div>
                  <div class="text">
                    <label for="username">Username</label>
                    <input class="field" type="text" name="username">    
                  </div>
                  <div class="text">
                    <label for="repo">Repositorio</label>
                    <input class="field" type="text" name="repo">    
                  </div>
                  <div class="text_radio">
                    <div class="radio">
                      <label for="public">Public</label>
                      <input type="radio" name="type_repo" value="public">
                    </div>
                    <div class="radio">
                      <label for="public">Private</label>
                      <input type="radio" name="type_repo" value="private">
                    </div>
                  </div>
                  <div class="text">
                    <label for="token">Token</label>
                    <input class="field" type="text" name="token">    
                  </div>
                  <div class="text_button">
                      <button class="button"> Send</button>
                  </div>
              </form>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>