<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700;900&display=swap" rel="stylesheet"/>    
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/repository_css/style.css")}/>
  </head><h1>Listing Repositories</h1>

  <body>
    <section>
      <main>
        <div id="card">
          <div id="container">
            <table>
              <thead>
                <tr>
                  <th>User</th>
                  <th>Provider</th>
                  <th>Username</th>
                  <th>Repo</th>
                  <th>Status</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
              <%= for repository <- @repositories do %>
                  <tr>
                    <td><%=repository.user.handle %></td>
                    <td><%=repository.provider %></td>
                    <td><%=repository.username %></td>
                    <td><%=repository.repository_name %></td>
                    <td><%=repository.status.state %></td>
                    <%= if repository.status.state == :pending do %>
                      <td> 
                        <a href= "#"> Cancel </a> 
                      </td>
                    <% else %>
                      <td> 
                        <%= link "Show / ", to: Routes.repository_path(@conn, :show_analysis, repository)%> 
                        <%= link "Analyse Again / ", to: Routes.repository_path(@conn, :again_analysis)%> 
                        <a href= "#"> Delete </a> 
                      </td>
                    <% end %>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </main>
    </section>
  </body>
</html>