<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;600;700;900&display=swap" rel="stylesheet"/>    
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/repository_css/style.css")}/>
  </head><h1>Repository Analsysis</h1>

  <body>
    <div class="back">
        <span><%= link "<= Back", to: Routes.repository_path(@conn, :list_repos) %></span>
    </div> 
    <section>
      <main>
        <div id="card">
          <div id="container">
              <h2>Repository Name:  <%= @repository.repository_name %> </h2>
              <h2> Username:  <%= @repository.username %> </h2>

              <div class="cd cd_content">
                <div class="options opt">
                  <strong> URL </strong>
                  <p><%= @repository.url %></p>
                </div>
                 <div class="options opt">
                  <strong> Number Commits </strong>
                  <p><%= @repository.main_commits_count %></p>
                </div>
              </div>  

              <label> Branches </label>
              <%= for branch <- @branches do %>
                <div class="cd cd_branches opt">
                  <p><%= branch.name %></p>
                </div>
              <% end %>

              <div class="cd cd_content mb">
                <div class="text_button">
                    <%= link "View list commit user", to: Routes.repository_path(@conn, :list_commit_user, @repository.id), class: "button"%> 
                </div>
                <div class="text_button">
                    <%= link "View list commits density", to: Routes.repository_path(@conn, :list_commit_density, @repository.id), class: "button"%> 
                </div>
              </div>   
          </div>
        </div>
      </main>
    </section>
  </body>

</html>